@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");

.checkbox_linethrough {
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  margin-left: 15%;
  accent-color: rgb(14, 2, 54);
}
@media screen and (max-width: 720px) {
  .checkbox_linethrough {
    margin-left: 2%;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 280px) {
  .checkbox_linethrough {
    width: 20px;
    height: 20px;
    margin-left: 2%;
  }
}
