@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");
/* Styles for the HomePage component */
.Loading {
  font-size: 2em;
  color: white;
  text-align: center;
  padding: 50px 0;
}
.HomePage {
  width: 80%;
  font-family: "Salsa", sans-serif;
  align-content: center;
  display: grid;
  grid-template-rows: auto 1fr;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  flex-direction: column;
  top: 50%;
  left: 50%;
  position: absolute;
  box-sizing: border-box;
}
.Greeting {
  color:#91111d;
  font-style: oblique;
  width: 50%;
  margin: 0 auto;
  padding-left: 10%;
  font-family: "Salsa", sans-serif;
  font-size: 30px;
  margin-top: -5%;
  text-shadow: #f5bdb9  1px 1px 2px;

}
/* Styles for the text within the HomePage component */
.Text {
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.2em;
  line-height: 1.6;
  padding-bottom: 2%;
}
/* Styles for the h1 within the Text class */
.Text h1 {
  font-family: "Audiowide", sans-serif;
  text-align: center;
  padding-left: 10%;
}

/* Styles for the HomePage component when in dark mode */
.DarkModeHomePage {
  background-color: #00184d;
  color: #e6eeff;
}
/* Styles for the HomePage component when in light mode */
.LightModeHomePage {
  background-color: #e6eeff;
  color: #00184d;
}
.modeButton {
  font-family: "Trirong";
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid #035e5e;
  border-radius: 5px;
  box-shadow: #035e5e 0 3px 5px 0;
  float: right;
}
/* dark mode btn when in light mode  */
.darkThemeModeButton {
  background-color: rgb(218, 231, 241);
  color: #00184d;
}
/* ligh mode btn when in dark mode  */
.lightThemeModeButton {
  background-color: rgb(6, 15, 58);
  color: rgb(231, 235, 238);
}
/*  Styles for the GoToTodoListButton when in dark mode */
.darkThemeGoToTodoListButton {
  background-color: rgb(218, 231, 241);
  color: #00184d;
}
/* Styles for the GoToTodoListButton when in light mode */
.lightThemeGoToTodoListButton {
  background-color: rgb(6, 15, 58);
  color: rgb(218, 231, 241);
}
/* Styles for the GoToTodoListButton when hovered in dark mode */
.darkThemeGoToTodoListButton:hover,
.darkThemeModeButton:hover {
  background-color: #91111d;
  color: rgb(218, 231, 241);
}

/* Styles for the GoToTodoListButton when hovered in light mode */
.lightThemeGoToTodoListButton:hover,
.lightThemeModeButton:hover {
  background-color: #91111d;
  color: rgb(218, 231, 241);
}

/* Styles for the h1 within the Text class when in light mode */
.light-theme .Text h1 {
  color: #00184d;
}
/* Styles for the GoToTodoListButton */
.GoToTodoListButton {
  font-family: "Trirong";
  font-weight: bold;
  margin-bottom: 2%;
  cursor: pointer;
  width: 20%;
  font-size: 20px;
  border: 1px solid #035e5e;
  border-radius: 5px;
  box-shadow: #035e5e 0 3px 5px 0;
  font-family: "Audiowide", sans-serif;
  padding: 2px;
  letter-spacing: 1px;
}
.GoToTodoListButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Styles for the container of the Sort button */
.SortButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.SortButton {
  font-family: "Trirong";
  margin: 2%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: 1px solid #035e5e;
  border-radius: 5px;
  box-shadow: #035e5e 0 3px 5px 0;
  font-family: "Audiowide", sans-serif;
  letter-spacing: 1px;
}
.topButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.GoBackButton {
  size: 20px;
  font-family: "Trirong";
  font-weight: bold;
  cursor: pointer;
  width: 10%;
  font-size: 20px;
  border: 1px solid #035e5e;
  border-radius: 5px;
  box-shadow: #035e5e 0 3px 5px 0;
  background-color: rgb(218, 231, 241);
  color: #00184d;
}
.GoBackButton:hover {
  background-color: #91111d;
  color: rgb(218, 231, 241);
}
@media screen and (max-width: 978px) {
  .HomePage {
    width: 80%;
  }
  .Greeting{
    font-size: 26px;
  }
  .Text {
    font-size: 14px;
  }

  .GoToTodoListButton {
    width: 40%;
  }
  .SortButton {
    font-size: 14px;
  }
  .modeButton {
    font-size: 18px;
  }
  .GoBackButton {
    font-size: 18px;
    width: 10%;
  }
}
@media screen and (max-width: 883px) {
  .HomePage {
    width: 80%;
  }
  .Text {
    font-size: 14px;
  }
  .Greeting{
    font-size: 24px;   
  }
  .modeButton {
    font-size: 18px;
  }
  .GoBackButton {
    font-size: 16px;
    width: 15%;
  }
}
@media screen and (max-width: 531px){
  .Greeting{
    font-size: 20px;   
  }
  .modeButton {
    font-size: 14px;
  }
  .GoBackButton {
    font-size: 14px;
    width: 20%;
  }
}
@media screen and (max-width: 460px){
  .HomePage {
    width: 100%;
  }
  .Text {
    font-size: 16px;
  }
  .Text h1 {
    font-size: 26px;
  }
  .GoToTodoListButton {
    width: 100%;
  }
  .SortButton {
    font-size: 14px;
    margin-top: 5%;
  }
  .modeButton {
    font-size: 12px;
  }
  .GoBackButton {
    font-size: 12px;
    width: 15%;
  }
  .DynamicBackground {
    display: none;
  }
}
@media screen and (max-width: 280px) {
  .HomePage {
    width: 100%;
  }
  .Text {
    font-size: 16px;
  }
  .Text h1 {
    font-size: 26px;
  }
  .GoToTodoListButton {
    width: 100%;
  }
  .SortButton {
    font-size: 14px;
    margin-top: 5%;
  }
  .modeButton {
    font-size: 12px;
  }
  .GoBackButton {
    font-size: 12px;
    width: 25%;
  }
  .DynamicBackground {
    display: none;
  }
}
