/* import styled from 'styled-components'; */
@import url("https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong");
* {
   box-sizing: border-box;
   margin: 0px;
   padding: 0px;     
}

body{
   height: 100vh;
}

li {
   list-style: none
}   
.ListItem {
   font-family: sans-serif;
   margin: 5px;   
   display: inline-block;
}
.DeleteButton{
   color:rgb(248, 248, 248);
   background-color: #00184d; 
   display: block;
   float: right;
   margin-right: 15%;
  
}
.darkThemeDeleteButton {
   background-color:rgb(248, 248, 248);
   color: #00184d; 
}

.lightThemeDeleteButton {
   color: #00184d;
   background-color: rgb(248, 248, 248);
}
.trashIcon {
   width: 20px;
   height: 20px;
}
.trashIcon:hover {
   background-color: #91111d;
   color: rgb(218, 231, 241);
}
@media screen and (max-width: 720px){
   .DeleteButton {      
      margin-right: 2%;
  }

}
@media screen and (max-width: 720px) {
   body{
      background-color: #00184d;
   }
}
@media screen and (max-width: 280px) {

   body{
      background-color: #00184d;
   }
   .DeleteButton {      
       margin-right: 2%;
   }
}
