/* .Toggle {
    float:right;
    width: 10%;
    cursor:pointer;    
    font-size: 16px;
    font-family: "Trirong";
    font-weight: bold;
    margin-top: 1%;
    margin-right: 1%;
    padding: 5px;
    border: 1px solid #035e5e;
    border-radius: 5px;
    box-shadow: #035e5e 0 3px 5px 0;
} */
/* .dark-theme { 
    color:rgb(218, 231, 241);
    background-color:rgb(6, 15, 58);
}
.dark-theme .Toggle  {
    color:rgb(6, 15, 58);    
}
.light-theme .Toggle  {
    background-color:rgb(6, 15, 58); 
    color:#fce8ea;
}
.dark-theme .Toggle:hover {
    background-color:#91111D;
    color:rgb(218, 231, 241);    
}
.light-theme {
    color: rgb(2, 11, 58);
    background-color:rgb(167, 224, 240); 
}
.light-theme .Toggle:hover {
    background-color:#91111D;   
} */
